# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local
.env
public
app/_test.php
app/_env.php
app/config/database.php
app/crud/uploads/*
!app/crud/uploads/apple-romero.jpg
!app/crud/uploads/arla.jpg
!app/crud/uploads/elthon-bequio.jpg
!app/crud/uploads/gabrielle-caballero.jpg
!app/crud/uploads/jewel-olivera.jpg
!app/crud/uploads/jill-orcine.jpg
!app/crud/uploads/josel-ramirez.jpg
!app/crud/uploads/kristine-hermosa.jpg
!app/crud/uploads/maria-carla-alcantara.jpg
!app/crud/uploads/maria-cheska-deyn.jpg
!app/crud/uploads/mia-angela-rañosa.jpg
!app/crud/uploads/neigel-corporal.jpg
!app/crud/uploads/patricia-anne-carina.jpg
!app/crud/uploads/queen-hugo.jpg
!app/crud/uploads/rona-arevalo.jpg
!app/crud/uploads/shan-losabio.jpg
!app/crud/uploads/solenne-huesaff.jpg
!app/crud/uploads/tiktik-morales.jpg
!app/crud/uploads/trixie-balbuena.jpg
!app/crud/uploads/winsy-pesebre.jpg
!app/crud/uploads/full
!app/crud/uploads/no-avatar.jpg
!app/crud/dist
/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
vendor
.phpunit.cache
.phpunit.result.cache
tests/backend/config/test-database.php
