# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local
.env
public
app/_test.php
app/_env.php
app/config/database.php
app/crud/uploads/*
!app/crud/uploads/annalyn-rebutar.jpg
!app/crud/uploads/brianna-catangui.jpg
!app/crud/uploads/catherine-turalde.jpg
!app/crud/uploads/cherlen-narceda.jpg
!app/crud/uploads/cielo-pervera.jpg
!app/crud/uploads/diana-judavar.jpg
!app/crud/uploads/diana-villareal.jpg
!app/crud/uploads/jade-nica-labios.jpg
!app/crud/uploads/krisha-magistrado.jpg
!app/crud/uploads/lian-jed-caballero.jpg
!app/crud/uploads/ma-fatima-villadares.jpg
!app/crud/uploads/renchelle-nacario.jpg
!app/crud/uploads/shirly-jinahon.jpg
!app/crud/uploads/stephany-tesorero.jpg
!app/crud/uploads/full
!app/crud/uploads/no-avatar.jpg
!app/crud/dist
/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
vendor
.phpunit.cache
.phpunit.result.cache
tests/backend/config/test-database.php
