# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local
.env
public
app/_test.php
app/_env.php
app/config/database.php
app/crud/uploads/*
!app/crud/uploads/01-miles-tiffany-kaalim.jpg
!app/crud/uploads/02-chabelita-molina.jpg
!app/crud/uploads/03-neoli-kryss-angeline-abarientos.jpg
!app/crud/uploads/04-erika-mae-recafranca.jpg
!app/crud/uploads/05-aaliyah-mae-mariscotes.jpg
!app/crud/uploads/06-mary-claire-chavez.jpg
!app/crud/uploads/07-hanna-grace-clavillas.jpg
!app/crud/uploads/08-maria-ericka-mae-ceneta.jpg
!app/crud/uploads/09-trisha-jane-lopez.jpg
!app/crud/uploads/10-mara-monte.jpg
!app/crud/uploads/11-hannah-paula-quebral.jpg
!app/crud/uploads/12-lian-shaine-naparato.jpg
!app/crud/uploads/no-avatar.jpg
!app/crud/dist
/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
vendor
.phpunit.cache
.phpunit.result.cache
tests/backend/config/test-database.php
